.logo-container{
    z-index: 0;
    width:600px;
    height: 889px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;

    svg{
        width: 100%;
        height: auto;
        bottom: 0;
        // transform: rotateZ(38deg) !important;
    }
    .solid-logo{
        position: absolute;
        top: auto;
        bottom: auto;
        left: 10%;
        margin: auto;
        width: 100%;
        // opacity: 0.9;
        // transform: rotateZ(38deg);
        z-index: 1;
        animation: bounceIn 1s 1s;

    }
}
// .svg-container{
//     stroke: #ffd700;
//     stroke-width:10px ;
// }